version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - DB_HOST=192.168.191.66
      - DB_PORT=5432
      - DB_NAME=lms_platform
      - DB_USER=oasisuser
      - DB_PASSWORD=Oasis6566
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      - ml-service

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

  ml-service:
    build: ./ml-service
    ports:
      - "8000:8000"
    volumes:
      - ./ml-service:/app

  pgadmin:
    image: dpage/pgadmin4
    container_name: lms_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgadmin_data:
